<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/profileStyle.css" />
    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>title</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/hod/<%=prof.uid%>"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hod/<%=prof.uid%>/pending_leaves"
              >Pending Leaves</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hod/<%=prof.uid%>/approved_leaves"
              >Approved Leaves</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hod/<%=prof.uid%>/denied_leaves"
              >Denied Leaves</a
            >
          </li>
        </ul>
      </div>
      <a class="navbar-brand" style="float: right" href="/">Logout</a>
    </nav>
    <div class="container">
      <img src="/img/team.png" height="150px" width="150px" alt="" />
      <div class="card-body">
        <table class="table table-hover table-dark">
          <tbody>
            <tr>
              <th>name :</th>
              <td><%=prof.fname + " " + prof.lname %></td>
            </tr>
            <tr>
              <th>uid :</th>
              <td><%=prof.uid%></td>
            </tr>
            <tr>
              <th>Department :</th>
              <td><%=prof.department %></td>
            </tr>
            <tr>
              <th>phone number :</th>
              <td><%=prof.phone_number%></td>
            </tr>
            <tr>
              <th>Address :</th>
              <td><%=prof.address%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid footer" style="margin-top:18vh ;">
      <div class="row">
          <div class="col-md-4">
              <i class="fab fa-instagram social"></i>
              <i class="fab fa-facebook social"></i>
              <i class="fab fa-linkedin social"></i>
              <i class="fab fa-twitter social"></i>
          </div>
          <div class="col-md-4">
              copyright &#169; WTLDEVLOPERS
          </div>
          <div class="col-md-4">
              Privacy | Terms | Guidelines
          </div>
      </div>
  </div>
  </body>
</html>
